

<div class="background-theme">
  <div id ="mainContainer" class="container" >
    <div><img class="row" src='assets/images/halls/screen.png' style="margin-left: auto; margin-right: auto; margin-bottom: 150px; margin-top: 50px"></div>
  <div class="seats_hall_deployment">
    <div class="row" style="margin-right: auto; margin-left: auto">
      <ng-container class="seats_deployment" *ngFor="let seat of seats; let i=index">
        <div *ngIf="seat.status=='free'&& !listOfIds.includes(seat.id)">
          <img (dragover)="selectSeats(seat.id)" (click)="selectSeats(seat.id)" (mouseup)="selectSeats(seat.id)" class="btn-btn-primary-button" data-toggle="modal" data-target="#exampleModal" [src]="imageFreeSrc" alt="" style="margin: 2px; padding: 2px" class="avatar-md rounded-circle img-thumbnail" />
        </div>
        <div *ngIf="seat.status=='reserved'"> <img src='assets/images/seats/red_seat.png' alt="" style="margin: 2px; padding: 2px" class="avatar-md rounded-circle img-thumbnail" /></div>
        <div (click)="selectSeats(seat.id)" (click)="selectSeats(seat.id)" (mouseup)="selectSeats(seat.id)" *ngIf="seat.status=='free'&& listOfIds.includes(seat.id)"> <img class="btn-btn-primary-button" data-toggle="modal" data-target="#exampleModal" src='assets/images/seats/blue_seat.png' alt="" style="margin: 2px; padding: 2px" class="avatar-md rounded-circle img-thumbnail" /></div>
      </ng-container>
    </div>
  </div>
  </div>











<!--  MODAL WINDOW ADD RESERVATION-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <form #form="ngForm">
          <div class="form-group">
            <input required type="text" [(ngModel)]="modelAdd.customerName" class="form-control" name="customerName" placeholder="Customer name">
            <input required type="text" [(ngModel)]="modelAdd.customerPhone" minlength="9" maxlength="12" class="form-control" name="customerPhone"  placeholder="Phone">
            <label type="text" class="form-control"  name="customerPhone"  placeholder="Selected Places">Reserve places: {{listOfIds.toString()}}</label>
          </div>
          <div class="modal-footer">
            <button type="button" id="z" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onAddReservation()" type="submit" data-dismiss="modal" class="btn btn-primary" [disabled]="form.invalid">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>
